MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password_here
MYSQL_DB=sleepbot

OSS_ACCESS_KEY_ID=LTAI5t7YourAccessKey
OSS_ACCESS_KEY_SECRET=YourSecretKeyHere
OSS_ENDPOINT_CN=oss-cn-hongkong.aliyuncs.com
OSS_ENDPOINT_SG=oss-ap-southeast-1.aliyuncs.com
OSS_BUCKET_CN=sleepbot-cn
OSS_BUCKET_SG=sleepbot-sg
ASSET_SESSION_TTL=86400
UPLOAD_BASE_URL=https://api-test.kolacdn.xyz/public/
